* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.a {
  text-decoration: none;
}

#header {
  padding-top: 50px;
}
#header .menu {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}
#header .menu__logo {
  width: 76px;
  height: 22px;
  font-size: 18px;
  line-height: 21px;
  color: #313131;
}
#header .menu--btn {
  color: white;
  width: 152px;
  height: 58px;
  background: #49AD09;
  border: none;
}

#hero {
  padding-top: 50px;
}
#hero .web {
  display: flex;
  justify-content: space-between;
}
#hero .web__img {
  max-width: 300px;
  height: 500px;
}
#hero .web__ig {
  max-width: 300px;
  height: 500px;
}
#hero .web__wi {
  padding-top: 40px;
}
#hero .web__wi__develop {
  font-size: 78px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.05em;
  width: 450px;
}
#hero .web__wi__text {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #514040;
  width: 450px;
}
#hero .web__wi__shop {
  color: #49AD09;
}
#hero .web__wi__us {
  color: white;
  width: 160px;
  height: 45px;
  background: #49AD09;
  border: none;
}
#hero .web__wi__video {
  margin-left: 40px;
}

#chase .do {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
#chase .our {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
#chase .col-6__con {
  width: 384px;
  height: 332px;
  left: 316px;
  top: 1412px;
  background: #FFFFFF;
  box-shadow: 0 100px 80px rgba(49, 49, 49, 0.1);
  border-radius: 5px;
  padding-top: 30px;
  margin-bottom: 30px;
}
#chase .col-6__con__ob {
  padding-top: 20px;
  margin-left: 40px;
}
#chase .col-6__con__ob__vic {
  left: 24.03%;
  right: 74.03%;
  top: 23.26%;
  bottom: 76.29%;
  margin-left: 40px;
}
#chase .col-6__con__ob__was {
  width: 231px;
  font-size: 22px;
  line-height: 147.9%;
  margin-left: 28px;
}
#chase .col-6__con__lin {
  padding-top: 30px;
}
#chase .col-6__con__lin__more {
  font-size: 16px;
  line-height: 147.9%;
  text-decoration-line: underline;
  color: #49AD09;
  margin-left: 40px;
  padding-top: 40px;
}
#chase .col-6__con__text {
  width: 324px;
  height: 135px;
  font-size: 18px;
  line-height: 147.9%;
  margin-left: 40px;
  padding-top: 35px;
}
#chase .make {
  margin-left: 390px;
}
#chase .make__learn {
  color: white;
  width: 225px;
  height: 58px;
  left: 608px;
  top: 2196px;
  background: #49AD09;
  border: none;
}

#portfolio .work {
  text-align: center;
  padding-top: 50px;
}
#portfolio .our {
  text-align: center;
  padding-top: 15px;
}
#portfolio .fri {
  padding-top: 30px;
}
#portfolio .fri__ig1 {
  width: 100%;
}
#portfolio .fri__ig2 {
  width: 100%;
}
#portfolio .fri__ig3 {
  width: 100%;
}
#portfolio .fri__ig4 {
  width: 100%;
}
#portfolio .fri__page {
  font-size: 28px;
  line-height: 33px;
  padding-top: 10px;
}
#portfolio .fri__de {
  padding-top: 15px;
  color: #49AD09;
  margin-left: 60px;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}
#portfolio .all {
  padding-top: 20px;
  text-align: center;
}
#portfolio .all__all-btn {
  color: white;
  width: 225px;
  height: 58px;
  left: 607px;
  top: 3622px;
  border: none;
  background: #49AD09;
}

#say {
  padding-top: 30px;
}
#say .zet {
  text-align: center;
}
#say .cul {
  text-align: center;
}
#say .square {
  margin-left: 110px;
  width: 892px;
  height: 540px;
  left: 274px;
  top: 4007px;
  background: #F2F2F2;
}
#say .star {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: -400px;
}
#say .star__gone {
  width: 340px;
  height: 260px;
  left: 135px;
  top: 4110px;
  background: #FFFFFF;
  box-shadow: 0 100px 80px rgba(49, 49, 49, 0.1);
  border-radius: 5px;
  padding-left: 30px;
  padding-top: 20px;
}
#say .star__gone__re {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #6A635B;
}
#say .star .slider {
  position: absolute;
  margin-left: 450px;
  margin-top: 350px;
}

#demo {
  padding-top: 150px;
}
#demo .pricing {
  text-align: center;
}
#demo .policy {
  text-align: center;
}
#demo .min {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}
#demo .biy {
  margin-left: 100px;
}
#demo .bio {
  margin-left: 110px;
}
#demo .row6 {
  display: flex;
  flex-direction: row;
}
#demo .to {
  color: black;
  margin-left: 50px;
}
#demo .square8 {
  margin-top: -130px;
  width: 362px;
  height: 468px;
  background: white;
  box-shadow: 0 100px 80px rgba(49, 49, 49, 0.1);
  border-radius: 5px;
}
#demo .back {
  margin-left: 50px;
}
#demo .chek1 {
  background-color: limegreen;
  margin-left: 70px;
  width: 225px;
  height: 58px;
  border: 1px solid #514040;
  box-sizing: border-box;
}
#demo .chek3 {
  margin-top: 130px;
  margin-left: 70px;
  width: 225px;
  height: 58px;
  border: 1px solid #514040;
  box-sizing: border-box;
}
#demo .demo {
  color: white;
}
#demo .chek {
  margin-left: 70px;
  width: 225px;
  height: 58px;
  border: 1px solid #514040;
  box-sizing: border-box;
}
#demo .need {
  padding-top: 30px;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
}
#demo .contact {
  margin-top: 50px;
  margin-left: 450px;
  width: 225px;
  height: 58px;
  left: 608px;
  top: 5685px;
  border: none;
  color: white;
  background: #49AD09;
}

#footer {
  padding-top: 30px;
}
#footer .foot__next {
  width: 236px;
  height: 32px;
  font-size: 16px;
  line-height: 100%;
  margin-top: 30px;
}
#footer .foot2__you {
  width: 174px;
  height: 40px;
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
}
#footer .reserved {
  padding-top: 20px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
